@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #1f374c;
}

.animated-bg {
  background: linear-gradient(138deg, #001529, #003f87, #5196e3);
  background-size: 180% 180%;
  animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.custom-steps .ant-steps-item-title {
  font-size: 13px; /* adjust as needed */
}

.custom-steps .ant-steps-item-description {
  font-size: 12px;
}

.custom-steps .ant-steps-item {
  min-width: 0; /* optional: prevent large spacing */
}

.ant-form-item-control-input-content{
  text-align: left;
}
